.footer {
  background-image: url(../images/footer.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: sticky;
  z-index: -1;
  background-attachment: fixed;
  height: 200px;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
