.form {
  @include page-grid;

  &__control {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }
}

.input {
  border-radius: 40px;
  height: 48px;
}
