.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @mixin on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  /* done to have parent div the same height */
  &__logo {
    display: flex;
  }
}
