/* #region page */

.page {
  font-family: 'Popping', sans-serif;
  color: #FFF;
  font-size: 16px;
  line-height: 140%;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* done to have parent div the same height */
.logo {
  display: block;
}

/* #endregion */

/* #region header */
.header {
  box-sizing: border-box;
  padding: 24px 20px 88px;
  height: 100vh;
  background-image: url(images/header-bg-mobile.png);
  background-size: cover;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heder__icons {
  display: flex;
  gap: 24px;
}

.header__title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
}

/* #endregion */

/* #region menu */

.menu {
  box-sizing: border-box;
  padding: 24px 20px 88px;
  height: 100vh;
  background-color: #C2C2C2;
  color: #1D1D1D;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__content {
  position: relative;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu__phone-number {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.menu_book-a-test-ride {
  display: block;
  width: fit-content;
  padding-bottom: 7px;
  border-bottom: 1px solid #1D1D1D;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

/* #endregion */

/* #region nav */

.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* #endregion */

/* #region icon */

.icon {
  display: block;
  height: 24px;
  width: 24px;
  align-self: center;
}

.icon--phone {
  background-image: url(icons/icon-phone.png);
}

.icon--menu {
  background-image: url(icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(icons/icon-close.png);
}

/* #endregion */

/* #region footer */

/* #endregion */
